[Bb]in/
[Oo]bj/
[Oo]ut/
TestResults/
*.swp
*.user
*.userosscache
*.sln.docstates

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.sln.iml

.DS_Store
Thumbs.db
*.dll
*.cs
*.cache
*.cache
*.pdb
*.json
View/obj/Debug/net10.0-windows/apphost.exe
*.dll
*.cache
*.pdb
